.chatPage {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatPage-container {
  border: 1px solid #000;
  border-radius: 10px;
  width: 98%;
  max-width: 1500px;
  height: 98%;
  display: flex;
  overflow: hidden;
}
