.real-time-chat {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 1em;
  /* border-radius: 12px; */
  background-color: #ffffff93;
  padding: 0 0 0.3em;
}

.real-time-chat-container {
  display: flex;
  flex-direction: column;
  /* flex: 1; */
  width: 100%;
  overflow: auto;
  height: 90%;
  border-radius: 6px;
  background-color: #e7e7e76b;
  padding: 0 15px;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 500px;
}

.user-message {
  background-color: #cce6ff;
  align-self: flex-start;
}

.bot-message {
  background-color: #f0f0f0;
  align-self: flex-end;
}

.message p {
  margin: 0;
  padding: 5px;
}

.real-time-chat-input-container {
  display: flex;
  flex-direction: row;
  /* flex: 2; */
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  /* height: 30%; */
  background: #ffffff93;
  padding: 1em;
  margin: 0.2em 0 0;
}

.chat-input {
  width: 90vw;
  outline: none;
  /* height: 70%; */
  border-radius: 12px;
  color: #000000;
  box-shadow: rgba(29, 51, 61, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  font-size: 18px;
  text-indent: 1.5rem;
  background: #dce7f5b9;
  font-weight: 500;
  border: 0.1em solid #75757581;
  text-align: start;
  resize: none;
}
