.chat {
  flex: 2;
  overflow: auto;
  background-color: #fff;
  padding: 0 5px;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 500px;
}

.user-message {
  background-color: #cce6ff;
  align-self: flex-start;
}

.bot-message {
  background-color: #f0f0f0;
  align-self: flex-end;
}

.message p {
  margin: 0;
  padding: 5px;
}
