/* .chat-container {
  margin-top: 20px;
}

.chat-container div {
  padding: 10px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.chat-container p {
  margin: 0;
}
 */

.chat-container {
  flex: 2;
}
