.chat {
  flex: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  max-height: 1080px;
}

.chat-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message {
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  max-width: 500px;
}

.user-message {
  background-color: #cce6ff;
  align-self: flex-start;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.bot-message {
  background-color: #f0f0f0;
  align-self: flex-end;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.message p {
  margin: 0;
  padding: 5px;
}
