.sidebar {
  border-right: .1em solid #b6b6b6dc;;
  /* background-color: #cfcfcf9d; */
  max-width: 700px;
  height: 100%;
}

.sidebar-container {
  flex: 1;
  background-color: #cfcfcf9d;
  height: 100%;
  max-height: 1080px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  /* background-color: #11079e59; */
  width: 20vw;
  height: 30px;
  padding: 1.2rem;
  justify-content: space-between;
  color: #000000;
}

.attendant-name {
  font-weight: bold;
}
