.collapsible-component{
    display: flex;
    flex-direction: column;
    /* gap: 0.625rem; */
}

.collapsible-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px; 
}
.collapsible-title-icons{
    display: flex;
    align-items: center;
}

.collapsible-title:hover{
    cursor: pointer;
    filter: brightness(90%);
}

.collapsible-title.level-1 {
    height: 40px;
    background-color: var(--primary-blue);
    /* color: var(--secondary-text-color); */
  }

.collapsible-title.level-2 {
    min-height: 36px;
    background-color: var(--tertiary-gray);
    color: var(--secondary-text-color);
  }

.collapsible-content-parent {
    overflow: hidden;
    transition: height ease 0.9s;
}