.chatPage {
  /* background-color: #efefef; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatPage-container {
  /* border: 1px solid #000; */
  border-radius: 10px;
  width: 98%;
  max-width: 1500px;
  height: 98%;
  display: flex;
  overflow: hidden;
}

  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #4593f8b9 #dadada;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 20px;
  }

  *::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6babffb9;
    border-radius: 5px;
    border: 3px solid #f0f0f0;
  }
